<h1>Dashboard</h1>
<table class="table table-bordered">
<thead>
  <tr>
    <th>Products</th>
    <th>Categories</th>
  </tr>
</thead>
<tbody>
  <td> <%= @products %> </td>
  <td> <%= @categories %> </td>
</tbody>
</table>